h1 {
    font-family: 'Times New Roman', Times, serif;
}

.diff-bg {
    background-color: rgb(32, 109, 154) !important;
}
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Times New Roman', Times, serif;
}
.subheading, .mb-5, p.lead, .lead {
    font-family: 'Times New Roman', Times, serif;
}